<h1>Editando Post</h1>

<%= render 'form' %>

<%= link_to 'Exibir', @post %> |
<%= link_to 'voltar à lista de Posts', posts_path %>
<% if current_user.adm %>
  | <%= link_to 'Excluir', @post, method: :delete, data: { confirm: 'Tem Certeza?' } %>
<% end %>
